ul {
 list-style-type: none;
 }

a {
    font-family: 'oswald', sans-serif;
    margin-right: 30px;
}

a .index-links {
    margin:0;
    padding:0;
}

a:hover{
    text-decoration: none;
}


h2 {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5% 0;
}

#header-inner {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #F8F9FF;
    width:100%;
    height:68px;
}

.nav-logo {
    margin-top: 10px;
    margin-left: 0;
    float:left;
}

.logo-text {
    margin-top: 18px;
    margin-left: 20px;
    float:left;
    font-weight: 500;
    margin-bottom: 0;
}

/*--------------------------------------- NAVIGATION MENU ---*/

nav {
    float: right;
    padding: 10px 0 0 0;
    position: static; 
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    margin-right: 30px;
}

nav ul li {
    margin-top: 5px;
    margin-left: 25px;
    font-size: 160%;
    display: inline-block;
    float: left;
}

nav ul li a:hover {
    animation-duration: .5s;
    color: grey;
}

#menu-icon {
    font-size: 20pt;
    display:none;
}

a:hover #menu-icon {
    border-radius:4px 4px 0px 0px;
}

a {
    margin:0;
    padding:0;
}

a:hover {
    color: #000 ;
}

/*----------------- jumbotron ----- */

.jumbotron {
    margin-top:0;
    background-image: url("/assets/images/btc_jumbo_bg.jpg");
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    max-width: 100%;
}

.jumbo-bg {
    background-color: rgba(211,211,211,0.75);
    max-width:1000px;
    margin: 0 auto;
}

.jumbo-row {
    margin: 0 auto;
    width: 1000px;
}


.jumbo-header {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin-top: 10%;
    margin-right: 20px;
    text-align: center;
    opacity:1;
    margin-left: 20px;
}

.jumbotron h1 {
    margin-bottom: 30px;
    line-height: 50px;
}

.jumbotron h4 {
    text-align: center;
    line-height: 40px;
}

.jumbo-bg .container {
    margin: 0 auto;
}

.btcwdgt-chart {
    padding-left: 0;
}

/*-------------------- index links----------------------*/

.one-fourth {
    width: 25%;
    float: left;
}

.index-links {
       font-family: 'Oswald', sans-serif;
       font-size: 28pt;
       font-weight: 700;
}

.text-center {
    text-align: center;
    padding-bottom: 10%;
}

#blockchain {
    background-color: red;
}

/*-----------------------------------------COLORS----*/


.index-icon {
    font-size: 80pt;
    padding-top: 30px;
}


#btc101 {
    background-color: #EFFF76;
}

@keyframes btc101-link-anim {
    0%   {background-color:#EFFF76;}
    100% {background-color:#EFF333;}
}

#btc101:hover {
    background-color: #EFFF76;
    animation-name: btc101-link-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#blockchain {
    background-color: #B9C5EB;
}

@keyframes blockchain-link-anim {
    0%   {background-color:#B9C5EB;}
    100% {background-color:#61CFFF;}
}

#blockchain:hover {
    background-color: #B9C5EB;
    animation-name: blockchain-link-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#cryptocurrency {
    background-color: #B0EB96;
}

@keyframes cryptocurrency-link-anim {
    0%   {background-color:#B0EB96;}
    100% {background-color:#A7FF40;}
}

#cryptocurrency:hover {
    background-color: #B0EB96;
    animation-name: cryptocurrency-link-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#decentrialisation {
    background-color: #DDBEEB ;
}

@keyframes decentrialisation-link-anim {
    0%   {background-color:#DDBEEB;}
    100% {background-color:#CB61F7;}
}

#decentrialisation:hover {
    background-color: #DDBEEB;
    animation-name: decentrialisation-link-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


.one-fourth a:hover {
    color: #4a4e58;
}




.exp-btc {
    margin-left:150px;
    margin-right:50px;
}

.exp-btc2 {
    margin-left:150px;
    background-color: red;
}


.exp-links {
    margin-top: 80px;
}

aside {
    height: 100%;
    background-color: #757575
}

.footer {
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #676A61;
    color: #fafafa;
}

.btc-link {
    color:black;
}

a {
    color: #141414;
}

.exp-link a:hover{
    text-decoration: none;
    color: #363F49;
}

.exp-links a h1 i:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale (1.3);
}




/*-------------------------------------------- HOME ---------*/

.container-fluid {
    margin:0;
    padding-left: 0;
    padding-right: 0;
}

.info {
    margin-left: 20px;
    margin-right: 20px;
}

.home-links-row {
    margin-top:40px;
    border-top:40px;
}

.home-links {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 30pt;
    text-decoration:none;
}


.exp-link {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 8pt;
    text-decoration: none;
    margin-bottom: 30px;
    color: black;
}

.exp-link p {
    font-weight: 400;
    font-size: 12pt;
    text-transform: none;
    color: black;
}

.home-links-row a i{
    margin-bottom: 200px;
    font-size: 80pt;
}

.exp-link svg {
    font-size: 50pt;
    margin-bottom: 10px;
}


/*----------------------------------------------- FOOTER LINKS ------*/
footer {
    margin: 0;
    margin-top: 20px;
}

footer .footer-links {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left:30px;
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

footer .footer-links a{

    text-decoration: none;
    color: #fafafa;
}

footer .disclaimer {
    padding-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 10pt;
    line-height: 14px;
    font-family: 'Pragati Narrow', sans-serif;
}

footer span .footer-brand {
    font-family: 'Oswald', sans-serif;
    margin-right: 30px;
}

.footer-link {
    text-align: left;
    margin-top: 15px;
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 150%;
}



/* ----------------------------------------- BTC101 ---------------------*/

.center {
    margin: 0 auto;
    max-width: 1000px;
}


.pages-spacing {
 margin-top:40px;   
 
}


.pages-spacing p{
    margin-top:20px;
    font-size: 20px;
}

.btc101 {
    margin-top:40px;
    margin-right:30px;
}

.btc101 p {
    margin-top:20px;
    font-size: 20px;
}

.box {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.quote {
    text-align: center;
    font-size: 12pt;
    padding-top:17px;
    padding-bottom: 10px;
}


.col .quote p {
    padding-top:20px;
    text-align: center;
    font-size: 10pt;
}

footer {
    margin-top:0;
}

.one-tenth-div {
    width: 5%;
}

.link-left {
    width: 45%;
    margin-bottom: 20px;
}

.link-right {
    width: 45%;
    text-align: right;
}

/*-------------------------- Blockchain ---------------*/

#blk-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 65%;
    height: 65%;
}

.blockchain-page-spacing {
    margin-top: 0;
}

#blockchain-heading{
    padding: 30px 0 20px 0;
    margin-bottom: 0;

}


/*-----------------------------------------------MEDIA QUERY ---------*/



@media (min-width: 575px) {
    .exp-link-2nd-row {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .desktop-only {
        display: inline;
    } 

}

@media (min-width: 767px) {
    
    
    .exp-link-2nd-row {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 576px) {
.jumbotron {
    margin-bottom: 0rem;
}
    
}


@media screen and (max-width: 667px) {
    
    header {
        position: absolute;
    }
    
    .nav-logo {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .logo-text {
        margin-top: 19px;
        margin-left: 10px;
        font-weight: 400;
        font-size: 150%;
    }
    
    #menu-icon {
        display: inline-block;
    }
    
    nav ul, nave:active ul {
        display:none;
        z-index: 1000;
        position: absolute;
        margin-left:-100px;
        margin-top:0;
        margin-bottom: 0;
        border:0;
        padding: 0;
        padding-right: 20px;
        padding-bottom: 10px;
        background-color: #F8F9FF;
        border: 1px solid #fffff2;
        border-radius: 2px 0px 2px 2px;
        
    }
    
    nav:hover ul {
        display: block;
    }
    
    nav {
        padding-right: 15px;
    }
    
    nav li {
        text-align: center;
        width: 100%;
        margin-top:0;
        padding-top:0;
    }
    
    .one-fourth {
        width: 50%;
    }
}

@media (max-width: 360px) {
    .jumbo-header {
        margin-top: 55px;
        margin-bottom: 0px;
    }
    
    .jumbotron h1 {
        margin-bottom: 15px;
    }
    
    #jumbo-text{
        line-height: 120%;
    }
    
    .jumbo-row {
        width: auto;
    }
    
    .zero-pad {
        padding:0;
        margin:0;
    }
    
    .one-fourth {
        width: 100%;
        float: inherit;
    }
    
    .index-links {
        font-size: 20pt;
    }
    
    
    .footer {
        padding-bottom: 30px;
    }
    
    .desktop-only {
         display:none;
    }
    
    .btc101 {
    margin-top:0px;
    margin-right:0px;
}
}

/*--------- menu bar 


#menu-icon {
        display: inline-block;
        font-size-adjust: 200%;
    }
    
    nav ul, nave:active ul {
        display:none;
        z-index: 1000;
        position: absolute;
        margin-left:-100px;
        margin-top:0;
        margin-bottom: 0;
        border:0;
        padding: 0;
        padding-right: 20px;
        padding-bottom: 10px;
        background-color: #F8F9FF;
        border: 1px solid #fffff2;
        border-radius: 2px 0px 2px 2px;
        
    }
    
    nav:hover ul {
        display: block;
    }
    
    nav {
        padding-right: 15px;
    }
    
    nav li {
        text-align: center;
        width: 100%;
        margin-top:0;
        padding-top:0;
    }
        
    ----*/